# Configuración del Proyecto
PROJECT_NAME="API Boilerplate Senior"
ENVIRONMENT="local"

# Base de datos (Usaremos PostgreSQL para nivel Producción)
DATABASE_URL="postgresql+asyncpg://postgres:superpassword@db:5432/api_db"

# Seguridad (Genera uno real para producción usando: openssl rand -hex 32)
SECRET_KEY="tu_super_clave_secreta_aqui_cambiala_en_produccion"
ACCESS_TOKEN_EXPIRES_MINUTES=60

# Superusuario por defecto
FIRST_SUPERUSER="admin@example.com"
FIRST_SUPERUSER_PASSWORD="admin_password"

# Redis
REDIS_URL="redis://redis:6379/0"

# CORS (Quién puede consumir tu API)
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:8080"]
