PROJECT_NAME="API Boilerplate Senior"
ENVIRONMENT="local"

DATABASE_URL="postgresql+asyncpg://postgres:superpassword@db:5432/api_db"

SECRET_KEY="tu_super_clave_secreta_aqui_cambiala_en_produccion"
ACCESS_TOKEN_EXPIRES_MINUTES=60

FIRST_SUPERUSER="admin@example.com"
FIRST_SUPERUSER_PASSWORD="admin_password"

REDIS_URL="redis://redis:6379/0"

BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:8080"]

STRIPE_SECRET_KEY="sk_test_your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="whsec_your_stripe_webhook_secret"
STRIPE_CURRENCY="usd"